BODY {
	FONT-SIZE: 90%; MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
FORM {
	MARGIN: 1px 2px
}
HR {
	FONT-SIZE: 1px; COLOR: #000000
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 105%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LABEL {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.accentCrimson {
	COLOR: #ffffff; BACKGROUND-COLOR: #990000
}
.accentRed {
	COLOR: #ffffff; BACKGROUND-COLOR: #ff0000
}
.accentYellow {
	BACKGROUND-COLOR: #ffcc00
}
.accentGreenDark {
	COLOR: #ffffff; BACKGROUND-COLOR: #006600
}
.accentGreenMedium {
	COLOR: #ffffff; BACKGROUND-COLOR: #009900
}
.accentGreenLight {
	BACKGROUND-COLOR: #66ff00
}
.accentPurpleDark {
	COLOR: #ffffff; BACKGROUND-COLOR: #330033
}
.accentPurpleMedium {
	COLOR: #ffffff; BACKGROUND-COLOR: #660066
}
.accentPurpleLight {
	BACKGROUND-COLOR: #ff00cc
}
.blackBkgd {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
.blueBkgdLight {
	BACKGROUND-COLOR: #0099ff
}
.blueBkgdMedium {
	COLOR: #ffffff; BACKGROUND-COLOR: #3366cc
}
.blueBkgdDark {
	COLOR: #ffffff; BACKGROUND-COLOR: #330099
}
.breadcrumbsBkgd {
	BACKGROUND-COLOR: #cccccc
}
.breadcrumbs {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 5px; COLOR: #444444; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumbs A:link {
	COLOR: #444444
}
.breadcrumbs A:active {
	COLOR: #444444
}
.breadcrumbs A:visited {
	COLOR: #444444
}
.breadcrumbs A:hover {
	COLOR: #444444
}
.caption {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.featureHeader {
	BACKGROUND-COLOR: #ffcc00
}
.footerText {
	FONT-SIZE: 70%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.greyBars {
	BACKGROUND-COLOR: #e5e5e5
}
.greyBkgdVeryDark {
	COLOR: #ffffff; BACKGROUND-COLOR: #444444
}
.greyBkgdDark {
	COLOR: #ffffff; BACKGROUND-COLOR: #666666
}
.greyBkgdMedium {
	COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.greyBkgdLight {
	BACKGROUND-COLOR: #cccccc
}
.greyBkgdVeryLight {
	BACKGROUND-COLOR: #eeeeee
}
.headerBkgd {
	BACKGROUND-COLOR: #000000
}
.headline {
	FONT-SIZE: 80%; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headlineTitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 5px; COLOR: #000000; LINE-HEIGHT: 12px; PADDING-TOP: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.leftMenuBkgd {
	BACKGROUND: #66c1ff
}
.leftMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; MARGIN: 5px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.leftMenu A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
.leftMenu A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.leftMenu A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.leftMenu A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.navDark {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navDark A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
.navDark A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
.navDark A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.navDark A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.navLight {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navLight A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navLight A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navLight A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navLight A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.navGlobalBkgd {
	COLOR: #ffffff; BACKGROUND-COLOR: #444444
}
.navGlobal {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN: 2px 5px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #444444
}
.navGlobal A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navGlobal A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navGlobal A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navGlobal A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.relatedItemsBkgd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 5px; COLOR: #333333; LINE-HEIGHT: 12px; PADDING-TOP: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #66ff00
}
.sectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sectionTitle A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.sectionTitle A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.sectionTitle A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.sectionTitle A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.tinyText {
	FONT-SIZE: 70%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tinyWhiteText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; LINE-HEIGHT: 95%; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.whiteText {
	COLOR: #ffffff
}
.whiteText A:link {
	COLOR: #ffffff
}
.whiteText A:active {
	COLOR: #ffffff
}
.whiteText A:visited {
	COLOR: #ffffff
}
.whiteText A:hover {
	COLOR: #ffffff
}
