BODY {
	FONT-SIZE: 76%; MARGIN: 0px; FONT-FAMILY: Arial,Verdana,sans-serif; BACKGROUND-COLOR: #f3f3f3; min-width: 1000px
}
.ext_part BODY {
	BACKGROUND-COLOR: #fff
}
.georgia {
	FONT-FAMILY: Georgia
}
.verdana11 {
	FONT-SIZE: 11px; FONT-FAMILY: verdana,sans serif
}
.back_white {
	BACKGROUND-COLOR: #fff
}
BODY INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif
}
BODY INPUT.width {
	WIDTH: 98px
}
BODY INPUT.orange_margtop_width {
	BORDER-RIGHT: #d47100 3px double; BORDER-TOP: #d47100 3px double; MARGIN-TOP: 2px; FONT-WEIGHT: bold; BACKGROUND: #d47100; BORDER-LEFT: #d47100 3px double; WIDTH: 101px; COLOR: #fff; BORDER-BOTTOM: #d47100 3px double
}
BODY INPUT.submit {
	BORDER-RIGHT: #7c9933 3px double; BORDER-TOP: #7c9933 3px double; FONT-WEIGHT: bold; BACKGROUND: #7c9933; BORDER-LEFT: #7c9933 3px double; COLOR: #fff; BORDER-BOTTOM: #7c9933 3px double
}
DIV.search_v2 INPUT.submit {
	FONT-WEIGHT: bold; FONT-SIZE: 0px; BACKGROUND: url(/asset/image/Forms/4049920.gif) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 63px; COLOR: #fff; BORDER-TOP-STYLE: none; TEXT-INDENT: 3px; LINE-HEIGHT: 1.4em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 21px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
.bd_search INPUT.submit {
	MARGIN-TOP: -4px; MARGIN-LEFT: 5px
}
BODY INPUT.submit_blue {
	BORDER-RIGHT: #336699 3px double; BORDER-TOP: #336699 3px double; FONT-WEIGHT: bold; BACKGROUND: #336699; BORDER-LEFT: #336699 3px double; COLOR: #fff; BORDER-BOTTOM: #336699 3px double
}
A.submit_blue {
	BORDER-RIGHT: #336699 3px double; BORDER-TOP: #336699 3px double; FONT-WEIGHT: bold; BACKGROUND: #336699; BORDER-LEFT: #336699 3px double; COLOR: #fff; BORDER-BOTTOM: #336699 3px double
}
A.submit_blue {
	
}
BODY INPUT.submit_basegreen {
	BORDER-RIGHT: #5a9703 3px double; BORDER-TOP: #5a9703 3px double; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #5a9703; BORDER-LEFT: #5a9703 3px double; COLOR: #fff; BORDER-BOTTOM: #5a9703 3px double
}
A.submit_basegreen {
	BORDER-RIGHT: #5a9703 3px double; BORDER-TOP: #5a9703 3px double; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #5a9703; BORDER-LEFT: #5a9703 3px double; COLOR: #fff; BORDER-BOTTOM: #5a9703 3px double
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 10px 17px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 10px 17px; PADDING-TOP: 0px
}
OL {
	MARGIN-LEFT: 23px
}
UL.square LI {
	LIST-STYLE-TYPE: square
}
.ol_marg_fix OL {
	
}
A.submit_basegreen {
	BORDER-RIGHT: #fff 3px double; PADDING-RIGHT: 2px; BORDER-TOP: #fff 3px double; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 3px double; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 3px double; POSITION: relative
}
A.submit_basegreen:hover {
	TEXT-DECORATION: none
}
BODY INPUT.submit_logout {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10px; BACKGROUND: #6a8610; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; BORDER-RIGHT-WIDTH: 0px
}
BODY INPUT.submit_logout_v2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10px; BACKGROUND: #7e9835; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Verdana,sans-serif; BORDER-RIGHT-WIDTH: 0px
}
BODY INPUT.submit_fgator {
	BORDER-RIGHT: #7d9933 3px double; BORDER-TOP: #7d9933 3px double; FONT-WEIGHT: bold; BACKGROUND: #7d9933; BORDER-LEFT: #7d9933 3px double; COLOR: #fff; BORDER-BOTTOM: #7d9933 3px double
}
BODY INPUT.submit_grey {
	BORDER-RIGHT: #999 3px double; BORDER-TOP: #999 3px double; FONT-WEIGHT: bold; BACKGROUND: #989899; BORDER-LEFT: #999 3px double; COLOR: #fff; BORDER-BOTTOM: #999 3px double
}
BODY INPUT.submit_orange {
	BORDER-RIGHT: #d47100 3px double; BORDER-TOP: #d47100 3px double; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d47100; BORDER-LEFT: #d47100 3px double; COLOR: #fff; BORDER-BOTTOM: #d47100 3px double
}
A.submit_orange {
	BORDER-RIGHT: #d47100 3px double; BORDER-TOP: #d47100 3px double; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d47100; BORDER-LEFT: #d47100 3px double; COLOR: #fff; BORDER-BOTTOM: #d47100 3px double
}
A.submit_orange {
	BORDER-RIGHT: #fff 3px double; PADDING-RIGHT: 2px; BORDER-TOP: #fff 3px double; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 3px double; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 3px double; POSITION: relative
}
A.submit_orange:hover {
	TEXT-DECORATION: none
}
BODY INPUT.lbmargins {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 6px
}
INPUT.new_submit {
	FONT-WEIGHT: bold; BACKGROUND: #d47100; WIDTH: 150px; COLOR: #000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.select_width150 {
	WIDTH: 150px
}
.select_width200 {
	WIDTH: 200px
}
.select_width240 {
	WIDTH: 240px
}
INPUT.but_link {
	FONT-WEIGHT: 500; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #336699; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.nl_check {
	MARGIN-TOP: -2px; WIDTH: 1.1em
}
.nl_check_other {
	MARGIN-BOTTOM: -1px; WIDTH: 1.1em; MARGIN-RIGHT: 1px
}
.nl_check_nom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 1.1em; PADDING-TOP: 0px
}
BODY P.subh1 {
	MARGIN: 0px 0px auto
}
BODY A {
	COLOR: #336699; TEXT-DECORATION: none
}
BODY A:hover {
	TEXT-DECORATION: underline
}
BODY P {
	MARGIN-BOTTOM: 10px
}
BODY A:active {
	outline: none
}
DIV.a_under A {
	
}
A.a_under {
	
}
LI a_under A {
	
}
A.inline_links {
	COLOR: #76a526; TEXT-DECORATION: underline
}
.a_bold A {
	FONT-WEIGHT: bold
}
.a_white A {
	COLOR: #fff
}
.biza_a_bold A {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000
}
DIV.under INPUT {
	TEXT-DECORATION: underline
}
.nobul {
	LIST-STYLE-TYPE: none
}
LI.nobul {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IMG.imgleft {
	FLOAT: left; MARGIN: 7px
}
IMG.imgleft_morespace {
	FLOAT: left; MARGIN: 10px
}
IMG.imgleft_formnode {
	FLOAT: left; MARGIN: 16px 16px 16px 3px
}
IMG.imgleft_shrinkside {
	FLOAT: left; MARGIN: 3px 7px 7px
}
IMG.imgleft_noltmarg {
	FLOAT: left; MARGIN: 3px 7px 7px 0px
}
IMG.imgleft_nomarg {
	FLOAT: left
}
IMG.imgright {
	FLOAT: right; MARGIN: 7px
}
IMG.imgright_nomarg {
	FLOAT: right
}
.zero {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.grey {
	COLOR: #666
}
.ltgrey {
	COLOR: #999
}
.blue {
	COLOR: #336699
}
.ltgreen {
	COLOR: #7c9933
}
.green {
	COLOR: #669900
}
.red {
	COLOR: #993300
}
.brightred {
	COLOR: #ff0000
}
.white {
	COLOR: #fff
}
.orange {
	COLOR: #cc6600
}
.black {
	COLOR: #000
}
.ten {
	FONT-SIZE: 10px
}
.eleven {
	FONT-SIZE: 11px
}
.twelve {
	FONT-SIZE: 12px
}
.fourteen {
	FONT-SIZE: 14px
}
.sixteen {
	FONT-SIZE: 16px
}
.eighteen {
	FONT-SIZE: 18px
}
.larger {
	FONT-SIZE: 118%
}
.smaller {
	FONT-SIZE: 85%
}
.smaller_grey {
	FONT-SIZE: 85%; COLOR: #666
}
.bold {
	FONT-WEIGHT: bold
}
.border2 {
	BACKGROUND: url(/asset/image/css_backgrounds/4967899.gif) repeat-x
}
.border2_bot {
	BACKGROUND: url(/asset/image/css_backgrounds/4967899.gif) repeat-x
}
.border2_bot {
	BACKGROUND-POSITION: left bottom; MARGIN-TOP: 4px
}
.green_bg {
	BACKGROUND-COLOR: #76a526
}
.larger_bold_blue {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #336699
}
.larger_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 118%
}
.larger_bold_17 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.text-right {
	TEXT-ALIGN: right
}
.article_memtest_ul .text-right {
	BORDER-TOP: #eaeaea 1px solid; MARGIN-TOP: 10px; PADDING-TOP: 6px
}
.text-center {
	TEXT-ALIGN: center
}
.text-center_red {
	COLOR: #993300; TEXT-ALIGN: center
}
.center {
	MARGIN: 0px auto
}
.inline {
	DISPLAY: inline
}
.line1point4 {
	LINE-HEIGHT: 1.4em
}
.line1point6 {
	LINE-HEIGHT: 1.6em
}
.article_bod DIV.large_pad_top {
	PADDING-TOP: 20px
}
.article_bod P.large_pad_top {
	PADDING-TOP: 20px
}
.padding3px {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.padding10px {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.padding5px {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.padding2pxnolftrt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.padding4pxnolftrt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.padding5pxnolftrt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.margin5pxnolftrt {
	MARGIN: 5px 0px
}
.margin10pxnolftrt {
	MARGIN: 10px 0px
}
.margin_0 {
	MARGIN: 0px
}
.margin_6px {
	MARGIN: 6px
}
.margin_10px {
	MARGIN: 10px
}
.margin-left_10px {
	MARGIN-LEFT: 10px
}
.margin-top_0 {
	MARGIN-TOP: 0px
}
.margin-top_4px {
	MARGIN-TOP: 4px
}
.margin-top_6px {
	MARGIN-TOP: 6px
}
.margin-top_8px {
	MARGIN-TOP: 8px
}
.margin-top_10px {
	MARGIN-TOP: 10px
}
.margin-top_15px {
	MARGIN-TOP: 15px
}
.margin-left_10px {
	MARGIN-LEFT: 10px
}
.margin-left_6px {
	MARGIN-LEFT: 6px
}
.margin-right_10px {
	MARGIN-RIGHT: 10px
}
.margin-bot_4px {
	MARGIN-BOTTOM: 4px
}
.margin-bot_10px {
	MARGIN-BOTTOM: 10px
}
.margin-bot_12px {
	MARGIN-BOTTOM: 12px
}
.margin-left_0 {
	MARGIN-LEFT: 0px
}
.margin-6px {
	MARGIN: 6px
}
.height16 {
	HEIGHT: 16px
}
.width50 {
	WIDTH: 50%
}
.maxwid90 {
	max-width: 90%
}
.relative {
	POSITION: relative
}
.absolute {
	POSITION: absolute
}
.kill {
	DISPLAY: none
}
.hidden {
	
}
.nowrap {
	WHITE-SPACE: nowrap
}
.ieheightbug {
	HEIGHT: 1%
}
.caps {
	TEXT-TRANSFORM: uppercase
}
.small_cap {
	FONT-VARIANT: small-caps
}
.clear {
	CLEAR: both
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; MARGIN-BOTTOM: -3px; HEIGHT: 0px; content: "."
}
 HTML .clearfix {
	HEIGHT: 1%
}
DIV.search_v3 {
	
}
DIV.search_box_v3 {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 0px; BORDER-LEFT: #000 1px solid; WIDTH: 400px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 49px
}
