.bdr {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.bdr1 {
	BORDER-RIGHT: #594f1c 5px solid; BORDER-TOP: #594f1c 5px solid; BORDER-LEFT: #594f1c 5px solid; BORDER-BOTTOM: #594f1c 5px solid
}
TD {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Conduit ITC
}
.heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt1 {
	FONT-SIZE: 10px; COLOR: #334443; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.topheading {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #334443; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.label {
	FONT-SIZE: 11px; VERTICAL-ALIGN: text-top; COLOR: #334443; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.colon {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bottom {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.topmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.topmenu A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.topmenu A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.subcat {
	FONT-SIZE: 11px; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subcat A:link {
	COLOR: gray; TEXT-DECORATION: none
}
.subcat A:visited {
	COLOR: gray; TEXT-DECORATION: none
}
.subcat A:hover {
	COLOR: #334443; TEXT-DECORATION: underline
}
.subcat A:active {
	COLOR: gray; TEXT-DECORATION: none
}
.mainheading {
	FONT-SIZE: 18px; COLOR: #ffffff
}
.mainheading A:link {
	FONT-SIZE: 18px; COLOR: #ffffff; TEXT-DECORATION: none
}
.mainheading A:visited {
	FONT-SIZE: 18px; COLOR: #ffffff; TEXT-DECORATION: none
}
.mainheading A:hover {
	FONT-SIZE: 18px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.mainheading A:active {
	FONT-SIZE: 18px; COLOR: #ffffff; TEXT-DECORATION: none
}
.label {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #334443; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.label A:link {
	VERTICAL-ALIGN: middle; COLOR: #334443; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.label A:visited {
	COLOR: #334443; TEXT-DECORATION: none
}
.label A:hover {
	COLOR: #334443; TEXT-DECORATION: underline
}
.label A:active {
	COLOR: #334443; TEXT-DECORATION: none
}
.selectFields {
	FONT-SIZE: 10px; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.selectFieldsNormal {
	FONT-SIZE: 10px; COLOR: #334443; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.errorMsg {
	FONT-SIZE: smaller; COLOR: red; FONT-FAMILY: Verdana
}
.heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.box11 {
	FONT-SIZE: 9px; WIDTH: 150px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 12px; BACKGROUND-COLOR: #ffffff
}
.box {
	FONT-SIZE: 11px; WIDTH: 150px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 12px; BACKGROUND-COLOR: #ededed
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #c0c0c0
}
.style3 {
	COLOR: #ffffff
}
.style9 {
	FONT-SIZE: 12px
}
.style10 {
	COLOR: #999999
}
