BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; BACKGROUND: url(/shared/img/bg_sectionnav.gif) #fff repeat-y left top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 100%
}
H1 {
	MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; FONT-SIZE: 1.35em; MARGIN-BOTTOM: 1em; TEXT-ALIGN: left
}
H2 {
	MARGIN-TOP: 1.1em; FONT-WEIGHT: bold; FONT-SIZE: 1.15em; MARGIN-BOTTOM: 0.6em; TEXT-ALIGN: left
}
H3 {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.1em; TEXT-ALIGN: left
}
H4 {
	MARGIN-TOP: 1em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.1em; FONT-STYLE: italic
}
P {
	MARGIN-TOP: 0.5em; TEXT-ALIGN: justify
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: courier; TEXT-ALIGN: left
}
Q {
	FONT-STYLE: italic; quotes: '„' '”' '‘' '’'
}
IMG {
	FONT-SIZE: 0.75em; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
OL {
	MARGIN-TOP: 0.3em; PADDING-LEFT: 2em; MARGIN-BOTTOM: 0.6em
}
UL {
	MARGIN-TOP: 0.3em; PADDING-LEFT: 2em; MARGIN-BOTTOM: 0.6em; LIST-STYLE-TYPE: square
}
TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid; BORDER-RIGHT-WIDTH: 0px
}
TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-RIGHT-WIDTH: 0px
}
TD {
	VERTICAL-ALIGN: top
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-LEFT: 2em
}
CAPTION {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; WIDTH: 80%; TEXT-ALIGN: left
}
TFOOT {
	FONT-SIZE: 0.8em; WIDTH: 80%
}
ADDRESS {
	MARGIN-TOP: 3.5em; FONT-STYLE: normal
}
ADDRESS STRONG {
	BORDER-TOP: gray 1px dashed; PADDING-TOP: 0.8em
}
A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
