H1 {
	CLEAR: both; BORDER-TOP: #660202 2px solid; FONT-SIZE: 138.5%; COLOR: #660202; BORDER-BOTTOM: #660202 2px solid
}
DL H1 {
	CLEAR: none; FONT-SIZE: 114%; COLOR: #000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H2 {
	FONT-SIZE: 123.1%; BORDER-BOTTOM: #660202 1px solid
}
H2 A {
	COLOR: #660202; TEXT-DECORATION: none
}
H2 A:visited {
	COLOR: #660202; TEXT-DECORATION: none
}
H3 {
	FONT-SIZE: 108%
}
H1 {
	MARGIN: 1em 0px
}
H2 {
	MARGIN: 1em 0px
}
H3 {
	MARGIN: 1em 0px
}
H1 {
	FONT-WEIGHT: 700
}
H2 {
	FONT-WEIGHT: 700
}
H3 {
	FONT-WEIGHT: 700
}
H4 {
	FONT-WEIGHT: 700
}
H5 {
	FONT-WEIGHT: 700
}
H6 {
	FONT-WEIGHT: 700
}
STRONG {
	FONT-WEIGHT: 700
}
abbr {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
EM {
	FONT-STYLE: italic
}
BLOCKQUOTE {
	MARGIN: 1em
}
UL {
	MARGIN: 1em
}
OL {
	MARGIN: 1em
}
DL {
	MARGIN: 1em
}
UL {
	MARGIN-LEFT: 2em
}
DL {
	MARGIN-LEFT: 2em
}
OL {
	MARGIN-LEFT: 3em
}
OL LI {
	LIST-STYLE-TYPE: decimal
}
OL OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI {
	LIST-STYLE-TYPE: lower-roman
}
UL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: disc
}
DL DD {
	MARGIN-LEFT: 1em
}
CAPTION {
	MARGIN-BOTTOM: 0.5em; TEXT-ALIGN: center
}
P {
	MARGIN-BOTTOM: 1em
}
FIELDSET {
	MARGIN-BOTTOM: 1em
}
TABLE {
	MARGIN-BOTTOM: 1em
}
DD {
	MARGIN-BOTTOM: 1em
}
#yui-main P {
	LINE-HEIGHT: 1.5em
}
#yui-main LI {
	LINE-HEIGHT: 1.5em
}
HR {
	BORDER-TOP: #660202 2px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:link {
	FONT-WEIGHT: bold; COLOR: #660202
}
A:hover {
	COLOR: #b40303
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #333333
}
HTML {
	BACKGROUND: url(/Portals/duhaime/images/duhaime-background.gif)
}
BODY {
	BACKGROUND: url(/Portals/duhaime/images/duhaime-background.gif)
}
BLOCKQUOTE {
	FONT: small/1.531 "Times New Roman", Times, serif
}
.yui-t6#doc2 {
	BACKGROUND: url(/Portals/duhaime/images/rightside-shade.gif) repeat-y right 50%; FLOAT: left
}
.yui-t3#doc3 {
	BACKGROUND: #ffffff; FLOAT: left
}
#yui-main {
	FONT-SIZE: 93%
}
#doc2 #yui-main {
	WIDTH: 74.65em
}
#yui-main .yui-b {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#ft {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; FONT-SIZE: 90%; BACKGROUND: white; PADDING-BOTTOM: 1.5em; COLOR: #999999; PADDING-TOP: 1.5em
}
#hd {
	BACKGROUND: #cccccc
}
#doc2 #hd {
	BACKGROUND: url(/Portals/duhaime/images/header.gif) no-repeat right 5px; HEIGHT: 180px
}
#doc3 #hd {
	BACKGROUND: url(/Portals/duhaime/images/header-small.gif) no-repeat 20px 15px; HEIGHT: 110px
}
#breadcrumb {
	MARGIN-LEFT: 1em; COLOR: #999999; POSITION: absolute; TOP: 5px
}
#breadcrumb A {
	COLOR: #660202; TEXT-DECORATION: underline
}
#breadcrumb A:visited {
	COLOR: #660202; TEXT-DECORATION: underline
}
#doc3 #breadcrumb {
	FONT-SIZE: 80%; MARGIN-LEFT: 0.5em; TOP: 2px
}
#search {
	MARGIN-TOP: 5px; FLOAT: right; MARGIN-RIGHT: 15px
}
#hd INPUT {
	LEFT: 680px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: 0.7em; BORDER-BOTTOM-STYLE: none
}
#siteTitle {
	POSITION: absolute; TOP: -1000px
}
#slogan {
	COLOR: #660202; FONT-STYLE: italic; FONT-FAMILY: "Times New Roman", Times, serif; POSITION: absolute
}
#doc2 #slogan {
	FONT-SIZE: 145%; LEFT: 10em; TOP: 160px
}
#doc3 #slogan {
	FONT-SIZE: 85%; LEFT: 100px; TOP: 105px
}
.actions {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 0.8em; FILTER: alpha(opacity=65); PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em; POSITION: absolute; moz-opacity: 0.65; khtml-opacity: 0.65; opacity: 0.65
}
.actions:hover {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; Z-INDEX: 999; BACKGROUND: #fff; FILTER: alpha(opacity=100); BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; moz-opacity: 1; khtml-opacity: 1; opacity: 1
}
.action LI {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND: #ccc; MARGIN: 0.1em; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.action LI A {
	
}
#tabs {
	MARGIN: 1.5em 0px 0px 1em
}
#tabs .yui-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/Portals/duhaime/images/tab-header.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 30px
}
#tabs .yui-nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#tabs .yui-nav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#tabs .yui-nav LI {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 94px; LINE-HEIGHT: 25px; HEIGHT: 30px; TEXT-ALIGN: center
}
#tabs .yui-nav LI.ui-tabs-selected#tabLink1 {
	BACKGROUND: url(/Portals/duhaime/images/tab-dictionary-on.gif)
}
#tabs .yui-nav LI.ui-tabs-selected#tabLink2 {
	BACKGROUND: url(/Portals/duhaime/images/tab-resources-on.gif)
}
#tabs .yui-nav LI.ui-tabs-selected#tabLink3 {
	BACKGROUND: url(/Portals/duhaime/images/tab-lawmag-on.gif)
}
#tabs .yui-nav A {
	COLOR: #333333; TEXT-DECORATION: none
}
.alpha-letter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.alpha-letter LI A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ui-tabs-container LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
.ui-tabs-container {
	BACKGROUND: url(/Portals/duhaime/images/overlap.gif) repeat-y
}
.ui-tabs-container DIV {
	BACKGROUND: url(/Portals/duhaime/images/overlap.gif) repeat-y
}
.ui-tabs-container DIV DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ui-tabs-container P {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: url(/Portals/duhaime/images/tab-page-overlap.gif) no-repeat left top; PADDING-BOTTOM: 0.3em; MARGIN: 0px; PADDING-TOP: 0.6em
}
.ui-tabs-container UL {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: url(/Portals/duhaime/images/tab-page-overlap.gif) no-repeat left top; PADDING-BOTTOM: 0.3em; MARGIN: 0px; PADDING-TOP: 0.6em
}
#tabs .yui-content .blogEntry {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: url(/Portals/duhaime/images/tab-page-overlap.gif) no-repeat left top; PADDING-BOTTOM: 0.3em; MARGIN: 0px; PADDING-TOP: 0.6em
}
.ui-tabs-container .blogEntry P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ui-tabs-container .Normal {
	FONT-SIZE: 90%; MARGIN: 0px
}
.ui-tabs-container .Normal H3 {
	FONT-SIZE: 107%; MARGIN: 0.2em 0px
}
.ui-tabs-container .tab-intro {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 1.5em; PADDING-TOP: 1.5em; FONT-STYLE: italic
}
.ui-tabs-container .tab-intro {
	BACKGROUND: url(/Portals/duhaime/images/overlap.gif) repeat-y; COLOR: #000000
}
.ui-tabs-container A:link {
	FONT-WEIGHT: normal; COLOR: #660202
}
.ui-tabs-container A:visited {
	FONT-WEIGHT: normal; COLOR: #660202
}
.ui-tabs-nav:unknown {
	CLEAR: both; DISPLAY: block; content: " "
}
#tab-foot {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/Portals/duhaime/images/tab-footer.gif) no-repeat left bottom; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 30px; WIDTH: 282px; PADDING-TOP: 5px; HEIGHT: 80px
}
#tab-foot P {
	FONT-SIZE: 0.8em; COLOR: #999999
}

@media Screen, Projection    
{
.ui-tabs-hide {
	DISPLAY: none
}

}

@media Print    
{
.ui-tabs-nav {
	DISPLAY: none
}
    }
.ui-tabs-nav .ui-tabs-selected A:link {
	CURSOR: text
}
.ui-tabs-nav .ui-tabs-selected A:visited {
	CURSOR: text
}
.ui-tabs-nav .ui-tabs-disabled A:link {
	CURSOR: text
}
.ui-tabs-nav .ui-tabs-disabled A:visited {
	CURSOR: text
}
.ui-tabs-nav A:hover {
	CURSOR: pointer
}
.ui-tabs-nav A:unknown {
	CURSOR: pointer
}
.ui-tabs-nav A:active {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-unselect A:hover {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-unselect A:unknown {
	CURSOR: pointer
}
.ui-tabs-nav .ui-tabs-unselect A:active {
	CURSOR: pointer
}
.ui-tabs-loading EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/js/loading.gif) no-repeat 0px 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
 HTML .ui-tabs-nav {
	DISPLAY: inline-block
}
UNKNOWN {
	DISPLAY: inline-block
}
UL.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.menu LI {
	LINE-HEIGHT: 2em; LIST-STYLE-TYPE: none; POSITION: relative
}
UL.menu LI A {
	BORDER-RIGHT: #660202 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #660202 1px solid; DISPLAY: block; PADDING-LEFT: 0.2em; BACKGROUND: #f2f3f4; PADDING-BOTTOM: 0px; MARGIN: 0.2em; OVERFLOW: hidden; BORDER-LEFT: #660202 1px solid; LINE-HEIGHT: 2em; PADDING-TOP: 0px; BORDER-BOTTOM: #660202 1px solid; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
UL.menu LI A:visited {
	BORDER-RIGHT: #660202 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #660202 1px solid; DISPLAY: block; PADDING-LEFT: 0.2em; BACKGROUND: #f2f3f4; PADDING-BOTTOM: 0px; MARGIN: 0.2em; OVERFLOW: hidden; BORDER-LEFT: #660202 1px solid; LINE-HEIGHT: 2em; PADDING-TOP: 0px; BORDER-BOTTOM: #660202 1px solid; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#doc2 UL.menu {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 77%; FLOAT: right; BORDER-LEFT: #666666 1px solid; WIDTH: 180px; BORDER-BOTTOM: #666666 1px solid
}
#doc3 UL.menu LI {
	DISPLAY: inline
}
#doc3 UL.menu LI A {
	DISPLAY: inline
}
.menu UL LI:hover A {
	BACKGROUND: #36f; COLOR: #fff
}
.menu UL LI:hover UL {
	DISPLAY: block; LEFT: 0px; WIDTH: 105px; POSITION: absolute; TOP: 21px
}
.menu UL LI:hover UL LI A.hide {
	BACKGROUND: #6a3; COLOR: #fff
}
.menu UL LI:hover UL LI:hover A.hide {
	BACKGROUND: #6fc; COLOR: #000
}
.menu UL LI:hover UL LI UL {
	DISPLAY: none
}
.menu UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #ddd; COLOR: #000
}
.menu UL LI:hover UL LI A:hover {
	BACKGROUND: #6fc; COLOR: #000
}
.menu UL LI:hover UL LI:hover UL {
	DISPLAY: block; LEFT: 105px; POSITION: absolute; TOP: 0px
}
.menu UL LI:hover UL LI:hover UL.left {
	LEFT: -105px
}
.yui-g UL {
	LIST-STYLE-POSITION: inside
}
UL.paragraph {
	MARGIN: 0px 0px 0px 1em
}
UL.paragraph LI {
	MARGIN: 0px 0px 1em
}
UL.arrow LI {
	LIST-STYLE-TYPE: none
}
UL.dot LI {
	LIST-STYLE-TYPE: none
}
UL.arrow {
	margn: 1em
}
UL.dot {
	margn: 1em
}
UL.arrow LI {
	PADDING-LEFT: 1.5em; BACKGROUND: url(http://www.duhaime.org/Portals/duhaime/images/arrow.gif) no-repeat 0.2em 0.3em
}
UL.dot LI {
	PADDING-LEFT: 1.5em; BACKGROUND: url(http://www.duhaime.org/Portals/duhaime/images/dot.gif) no-repeat 0.2em 0.3em
}
BLOCKQUOTE {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fefed4; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0.5em 1em 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #333333 1px solid
}
Q {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fefed4; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0.5em 1em 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #333333 1px solid
}
#closeLoginIn {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fefed4; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0.5em 1em 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #333333 1px solid
}
DL.dictionaryTerm {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fefed4; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0.5em 1em 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #333333 1px solid
}
Q {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; BACKGROUND: url(/Portals/duhaime/images/lfqt.gif) #fefed4 no-repeat 5px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0.5em
}
Q Q {
	PADDING-RIGHT: 1.5em; DISPLAY: block; PADDING-LEFT: 1.5em; BACKGROUND: #fefed4; PADDING-BOTTOM: 0.5em; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0.5em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BLOCKQUOTE BLOCKQUOTE {
	PADDING-RIGHT: 1.5em; DISPLAY: block; PADDING-LEFT: 1.5em; BACKGROUND: #fefed4; PADDING-BOTTOM: 0.5em; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0.5em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
Q CITE {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 90%; BACKGROUND: url(/Portals/duhaime/images/rtqt.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; MARGIN: -2.2em -2em 0px 0px; PADDING-TOP: 2.5em; FONT-STYLE: italic; TEXT-ALIGN: right
}
.twitterEntry I {
	FONT-SIZE: 0.8em; FLOAT: right
}
.dictionaryTerm DT {
	FONT-SIZE: 1.2em; TEXT-TRANSFORM: capitalize; BORDER-BOTTOM: #cccccc 1px dashed
}
.dictionaryTerm DD {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
.AddThis {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#google300 {
	CLEAR: right; FLOAT: right; MARGIN: 1em 0px 1em 1em; WIDTH: 300px
}
#google336 {
	CLEAR: right; FLOAT: right; MARGIN: 1em 0px 1em 1em; WIDTH: 336px
}
#google728 {
	MARGIN: 1em 0px; WIDTH: 728px; HEIGHT: 90px
}
#doc3 #google728 {
	FLOAT: right
}
.feedLink {
	PADDING-LEFT: 20px; BACKGROUND: url(/images/action_rss.gif) no-repeat
}
.externalLink {
	PADDING-LEFT: 20px; BACKGROUND: url(/images/icon_solutions_16px.gif) no-repeat
}
.postfoot {
	CLEAR: both; FONT-STYLE: italic; TEXT-ALIGN: right
}
P#wide {
	LEFT: -1000px; POSITION: absolute
}
P#narrow {
	LEFT: -1000px; POSITION: absolute
}
.hasJS #doc2 P#wide {
	LEFT: auto; POSITION: static
}
.hasJS #doc3 P#narrow {
	LEFT: auto; POSITION: static
}
#login {
	BORDER-RIGHT: #660202 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #660202 1px solid; DISPLAY: none; PADDING-LEFT: 1em; Z-INDEX: 100; BACKGROUND: #ffffff; PADDING-BOTTOM: 1em; BORDER-LEFT: #660202 1px solid; WIDTH: 200px; PADDING-TOP: 1em; BORDER-BOTTOM: #660202 1px solid; POSITION: absolute
}
