.text {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text1 {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text2 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.toplink {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.form {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelink1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0074ce; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelink2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footer {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textblue {
	FONT-SIZE: 11px; COLOR: #0074ce; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ulRed {
	FONT-SIZE: 10px; COLOR: #ff0033; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bttn2 {
	BORDER-RIGHT: #999999 1px outset; BORDER-TOP: #999999 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 12px; FILTER: progid; BACKGROUND-IMAGE: url(/images/bttn_sel2.gif); BORDER-LEFT: #999999 1px outset; WIDTH: 100px; COLOR: #000000; BORDER-BOTTOM: #999999 1px outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #959595; TEXT-DECORATION: none; DXImageTransform: #999999,direction=125,strength=2); textsmall: Arial, Helvetica, sans-serif
}
.textsmall {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textbluesmall {
	FONT-SIZE: 10px; COLOR: #0074ce; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.largered {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.largetext {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; admin-heading: "Century Gothic"
}
.admin-heading {
	FONT-SIZE: 24px; COLOR: #666666; FONT-FAMILY: "Century Gothic"
}
INPUT {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textblue:hover {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bottom-heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2e69ce; FONT-FAMILY: Century Gothic; TEXT-DECORATION: none
}
.table-border {
	BORDER-RIGHT: #eef2fb 1px solid; BORDER-TOP: #eef2fb 1px solid; BORDER-LEFT: #eef2fb 1px solid; BORDER-BOTTOM: #eef2fb 1px solid
}
