.nav {
	PADDING-RIGHT: 10px; MARGIN-TOP: -5px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 15px; FONT: 10px/12px Verdana, Arial, Helvetica, sans-serif; COLOR: #4e5b87
}
.table-border {
	BORDER-RIGHT: #0c314e 1px solid; BORDER-TOP: #0c314e 1px solid; BORDER-LEFT: #0c314e 1px solid; BORDER-BOTTOM: #0c314e 1px solid
}
.right-border {
	BORDER-RIGHT: #0c314e 1px solid
}
.search {
	PADDING-LEFT: 10px; FONT: bolder 13px Verdana, Arial, Helvetica, sans-serif; COLOR: #d3dfe8
}
.body {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.main-heads {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #000099; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sub-heads {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000099; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.body-blue {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000099; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
