SELECT {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textBold {
	FONT-WEIGHT: bold
}
UL.navigationStandard {
	LIST-STYLE: none url(/images/clear.gif) outside; FONT-SIZE: 8pt; FONT-FAMILY: Tahoma
}
.navigationCategory {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; COLOR: #413f3f; PADDING-TOP: 10px; FONT-FAMILY: Tahoma
}
.navigationCategory A:link {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.navigationCategory A:visited {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.navigationCategory A:hover {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
.navigationSelect {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 8pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.navigationSelect A:link {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.navigationSelect A:visited {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.navigationLink {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #413f3f; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.navigationLink A:link {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.navigationLink A:visited {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.navigationLink A:hover {
	FONT-SIZE: 8pt; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
.textSmall {
	FONT-SIZE: 8.5pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textSmallBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt
}
.textRed {
	COLOR: #cc0000
}
.required {
	COLOR: #cc0000
}
.textBoldRed {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
.textWhite {
	COLOR: #ffffff
}
.textBoldWhite {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.secondaryText {
	FONT-SIZE: 8pt
}
.secondaryTextSmall {
	FONT-SIZE: 7pt
}
.textStrike {
	TEXT-DECORATION: line-through
}
.secondaryTextBlue {
	COLOR: #003366; FONT-FAMILY: Tahoma
}
A.secondaryTextBlue {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.secondaryTextBlue:visited {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.secondaryTextBlue:link {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.secondaryTextBlue:hover {
	COLOR: #003366; TEXT-DECORATION: underline
}
.secondaryTextWhite {
	COLOR: #ffffff; FONT-FAMILY: Tahoma
}
A.secondaryTextWhite {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.secondaryTextWhite:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.secondaryTextWhite:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.secondaryTextWhite:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.special {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ff6600; FONT-FAMILY: Tahoma
}
.premium {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; COLOR: #ff6600; FONT-FAMILY: Tahoma
}
A.special {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.special:visited {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.special:link {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.special:hover A.premium A.premium:visited {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.premium:link A.premium:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.premium {
	COLOR: rgb(204,102,0)
}
A.premium {
	COLOR: rgb(204,102,0)
}
A.premium:visited {
	COLOR: rgb(204,102,0)
}
A.premium:link A.premium:hover {
	COLOR: rgb(204,102,0)
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 2px; COLOR: #413f3f; FONT-FAMILY: Tahoma
}
.headingLargeWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-ALIGN: left
}
.headingMedium {
	MARGIN-TOP: 7px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 2px; COLOR: #413f3f; FONT-FAMILY: Tahoma; TEXT-ALIGN: left
}
.headingSmall {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 2px; COLOR: #413f3f; FONT-FAMILY: Tahoma
}
.headingWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 8.5pt; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 2px; COLOR: #ffffff; FONT-FAMILY: Tahoma
}
.textInput {
	BACKGROUND-IMAGE: url(/images/tile.gif); BACKGROUND-COLOR: #ffffff
}
.bottomshadow {
	BACKGROUND-IMAGE: url(/images/border_bottom.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 12px
}
.bottom {
	BACKGROUND-COLOR: #f0f0f0
}
.popupText {
	BACKGROUND: #413f3f; COLOR: #ffffff
}
.grid {
	MARGIN: 2px 0px 5px; BORDER-COLLAPSE: collapse
}
.grid TH {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.grid TD {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
.nogrid TD {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.cellgrid {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
.simpleBorder {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
TR.alt {
	BACKGROUND: #ccc
}
.channelHeader {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ccc
}
.headingBoxReport {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 6px; COLOR: #ffffff; PADDING-TOP: 6px; BACKGROUND-COLOR: #413f3f
}
.singleLine {
	MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #ccc 1px solid
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 1.25em; PADDING-TOP: 0px
}
OL LI {
	MARGIN: 0px 0px 5px
}
UL {
	PADDING-RIGHT: 0px; LIST-STYLE: none url(/images/standard_bullet.gif) outside; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 1.25em; PADDING-TOP: 0px
}
UL LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
UL.whiteBullet {
	PADDING-RIGHT: 0px; LIST-STYLE: none url(/images/standard_bullet_white.gif) outside; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 1.25em; PADDING-TOP: 0px
}
UL.notice {
	PADDING-RIGHT: 0px; LIST-STYLE: none url(/images/bullet_cube.gif) outside; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 1.25em; PADDING-TOP: 0px
}
UL.noimage {
	PADDING-RIGHT: 0px; LIST-STYLE: none url(/images/clear.gif) outside; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 1.25em; PADDING-TOP: 0px
}
.iconLink {
	FONT-SIZE: 7.5pt; VERTICAL-ALIGN: middle; COLOR: #413f3f; FONT-FAMILY: Tahoma
}
A.iconLink {
	COLOR: #413f3f; TEXT-DECORATION: none
}
A.iconLink:visited {
	COLOR: #413f3f; TEXT-DECORATION: none
}
A.iconLink:link {
	COLOR: #413f3f; TEXT-DECORATION: none
}
A.iconLink:hover {
	TEXT-DECORATION: underline
}
.iconDiv {
	WIDTH: 24px
}
#contents {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #ffffff; PADDING-BOTTOM: 15px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #ccc 1px solid
}
.panelHeader {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; CURSOR: pointer; BORDER-TOP-STYLE: solid; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: solid
}
#navContainer {
	MARGIN: 0px 1px 3px; WIDTH: 160px
}
#navTop {
	BACKGROUND-IMAGE: url(/images/nav_top.gif); OVERFLOW: hidden; BACKGROUND-REPEAT: no-repeat; HEIGHT: 5px
}
#graybackground {
	BACKGROUND-IMAGE: url(/images/nav_regular.gif); BACKGROUND-REPEAT: repeat-y
}
#navGrayBtm2 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/nav_btm.gif); PADDING-BOTTOM: 0px; WIDTH: 160px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 8px
}
#navDivider {
	BACKGROUND-IMAGE: url(/images/nav_gray_divide.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 5px
}
.navHeading {
	PADDING-RIGHT: 6px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #413f3f; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.navHeading A:link {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navHeading A:visited {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navHeading A:hover {
	COLOR: #413f3f; TEXT-DECORATION: underline
}
.navRow {
	PADDING-RIGHT: 6px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #413f3f; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.navRow A:link {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navRow A:visited {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navRow A:hover {
	COLOR: #413f3f; TEXT-DECORATION: underline
}
.navRowCurrent {
	PADDING-RIGHT: 6px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(/images/nav_current.gif); PADDING-BOTTOM: 2px; COLOR: #413f3f; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Tahoma
}
.navRowCurrent A:link {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navRowCurrent A:visited {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navRowCurrent A:hover {
	COLOR: #413f3f; TEXT-DECORATION: underline
}
#navSubContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 160px; PADDING-TOP: 0px; BACKGROUND-COLOR: #eeeeee
}
#navSubTop {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/images/grey-top.gif); WIDTH: 160px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 7px; BACKGROUND-COLOR: #ffffff
}
#navSubBottom {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/images/grey-bottom.gif); WIDTH: 160px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 7px; BACKGROUND-COLOR: #ffffff
}
.navSubRow {
	PADDING-RIGHT: 6px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #413f3f; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.navSubRow A:link {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navSubRow A:visited {
	COLOR: #413f3f; TEXT-DECORATION: none
}
.navSubRow A:hover {
	COLOR: #413f3f; TEXT-DECORATION: underline
}
#fancyDropTop {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 13px 0px 0px; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: Tahoma
}
#fancyDropContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px
}
#fancyDropExt {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/fancy_drop_ext.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y
}
#fancyDropBottom {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/images/fancy_drop_bottom.gif); WIDTH: 250px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
#fancyDropText {
	PADDING-RIGHT: 18px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#fancyDropTop180 {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 9px 0px 0px; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: Tahoma
}
#fancyDropContainer180 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 180px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#fancyDropExt180 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/fancy_drop_ext_180.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y
}
#fancyDropBottom180 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/images/fancy_drop_bottom_180.gif); WIDTH: 180px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
#fancyDropText180 {
	PADDING-RIGHT: 14px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#fancyDropTop335 {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 16px 0px 0px; COLOR: #413f3f; PADDING-TOP: 3px; FONT-FAMILY: Tahoma
}
#fancyDropContainer335 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 335px; PADDING-TOP: 0px
}
#fancyDropExt335 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/fancy_drop_ext_335.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y
}
#fancyDropBottom335 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(/images/fancy_drop_bottom_335.gif); WIDTH: 335px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
#fancyDropText335 {
	PADDING-RIGHT: 14px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.navcontrol {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #ffffff
}
.navcontrol_cell {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.navcontrol_row {
	FONT-SIZE: 9pt; CURSOR: pointer
}
.navcontrol_close {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid
}
.navcontrol_header {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; CURSOR: pointer; COLOR: #ffffff; BACKGROUND-COLOR: #965b60
}
.dropshadow {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/ds.gif); WIDTH: 3px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #dadada
}
.dropshadowbottom {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/ds.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 3px; BACKGROUND-COLOR: #dadada
}
.darkstroke {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; BORDER-LEFT: #336699 1px solid; BORDER-BOTTOM: #336699 1px solid
}
.darkstroke .boxTitle {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; POSITION: absolute; TOP: -8px; BACKGROUND-COLOR: #fff
}
#menu {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 19px; MARGIN: 0px; BORDER-BOTTOM: #ccc 1px solid
}
#menu A:link {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; BACKGROUND: #e8ebf0; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; LINE-HEIGHT: 14px; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
#menu A:visited {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; BACKGROUND: #e8ebf0; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; LINE-HEIGHT: 14px; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
#menu A.active:link {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
#menu A.active:visited {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
#menu UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu A:hover {
	COLOR: #f00
}
DIV.section-1 #menu LI#nav-1 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
DIV.section-2 #menu LI#nav-2 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
DIV.section-3 #menu LI#nav-3 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
DIV.section-4 #menu LI#nav-4 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
DIV.section-5 #menu LI#nav-5 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
DIV.section-6 #menu LI#nav-6 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
DIV.section-7 #menu LI#nav-7 A {
	BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}
.highlight {
	BACKGROUND-COLOR: #ffc
}
.error {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.shadowedBox {
	MARGIN-TOP: -2px; DISPLAY: none; Z-INDEX: 1000; MARGIN-LEFT: -16px; POSITION: absolute
}
.shadowedBoxIE {
	MARGIN-TOP: -2px; DISPLAY: none; Z-INDEX: 1000; MARGIN-LEFT: -16px; POSITION: absolute
}
.shadowedBox .a {
	BACKGROUND-IMAGE: url(/images/shadow/drop-a.png); WIDTH: 22px; HEIGHT: 22px
}
.shadowedBox .b {
	BACKGROUND-IMAGE: url(/images/shadow/drop-b.png); WIDTH: 37px; HEIGHT: 22px
}
.shadowedBox .c {
	BACKGROUND-IMAGE: url(/images/shadow/drop-c.png); HEIGHT: 22px
}
.shadowedBox .d {
	BACKGROUND-IMAGE: url(/images/shadow/drop-d.png); WIDTH: 27px; HEIGHT: 22px
}
.shadowedBox .e {
	BACKGROUND-IMAGE: url(/images/shadow/drop-e.png); WIDTH: 32px; HEIGHT: 22px
}
.shadowedBox .f {
	BACKGROUND-IMAGE: url(/images/shadow/drop-f.png); WIDTH: 32px; HEIGHT: 37px
}
.shadowedBox .g {
	BACKGROUND-IMAGE: url(/images/shadow/drop-g.png); WIDTH: 32px; HEIGHT: auto
}
.shadowedBox .h {
	BACKGROUND-IMAGE: url(/images/shadow/drop-h.png); WIDTH: 32px; HEIGHT: 27px
}
.shadowedBox .i {
	BACKGROUND-IMAGE: url(/images/shadow/drop-i.png); WIDTH: 32px; HEIGHT: 32px
}
.shadowedBox .j {
	BACKGROUND-IMAGE: url(/images/shadow/drop-j.png); WIDTH: 27px; HEIGHT: 32px
}
.shadowedBox .k {
	BACKGROUND-IMAGE: url(/images/shadow/drop-k.png); HEIGHT: 32px
}
.shadowedBox .l {
	BACKGROUND-IMAGE: url(/images/shadow/drop-l.png); WIDTH: 37px; HEIGHT: 32px
}
.shadowedBox .m {
	BACKGROUND-IMAGE: url(/images/shadow/drop-m.png); WIDTH: 22px; HEIGHT: 32px
}
.shadowedBox .n {
	BACKGROUND-IMAGE: url(/images/shadow/drop-n.png); WIDTH: 22px; HEIGHT: 27px
}
.shadowedBox .o {
	BACKGROUND-IMAGE: url(/images/shadow/drop-o.png); WIDTH: 22px; HEIGHT: auto
}
.shadowedBox .p {
	BACKGROUND-IMAGE: url(/images/shadow/drop-p.png); WIDTH: 22px; HEIGHT: 37px
}
.shadowedBoxBody {
	BORDER-RIGHT: #333333 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #333333 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #333333 2px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #333333 2px solid; BACKGROUND-COLOR: white
}
.shadowedBoxIE .a {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-a.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 22px; HEIGHT: 22px
}
.shadowedBoxIE .b {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-b.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 37px; HEIGHT: 22px
}
.shadowedBoxIE .c {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-c.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; HEIGHT: 22px
}
.shadowedBoxIE .d {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-d.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 27px; HEIGHT: 22px
}
.shadowedBoxIE .e {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-e.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 32px; HEIGHT: 22px
}
.shadowedBoxIE .f {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-f.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; WIDTH: 32px; HEIGHT: 37px
}
.shadowedBoxIE .g {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-g.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; WIDTH: 32px; HEIGHT: auto
}
.shadowedBoxIE .h {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-h.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; WIDTH: 32px; HEIGHT: 27px
}
.shadowedBoxIE .i {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-i.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 32px; HEIGHT: 32px
}
.shadowedBoxIE .j {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-j.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 27px; HEIGHT: 32px
}
.shadowedBoxIE .k {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-k.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; HEIGHT: 32px
}
.shadowedBoxIE .l {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-l.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 37px; HEIGHT: 32px
}
.shadowedBoxIE .m {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-m.png', sizingMethod='image'); BACKGROUND-IMAGE: none; WIDTH: 22px; HEIGHT: 32px
}
.shadowedBoxIE .n {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-n.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; WIDTH: 22px; HEIGHT: 27px
}
.shadowedBoxIE .o {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-o.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; WIDTH: 22px; HEIGHT: auto
}
.shadowedBoxIE .p {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-p.png', sizingMethod='scale'); BACKGROUND-IMAGE: none; WIDTH: 22px; HEIGHT: 37px
}
.transparent {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FILTER: alpha(opacity=50); BORDER-LEFT: #cccccc 1px solid; COLOR: white; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #cccccc; moz-opacity: 0.50
}
.dashedSingleLine {
	BORDER-TOP: #cccccc 1px dashed; MARGIN-TOP: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 6px
}
.dashedSingleLineWhite {
	BORDER-TOP: #ffffff 1px dashed
}
H1.fancyHeader {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; BACKGROUND: url(/images/heading_background.gif) no-repeat 0px 0px; MARGIN-BOTTOM: 0.8em; PADDING-BOTTOM: 5px; COLOR: #273e83; PADDING-TOP: 18px; HEIGHT: 26px; TEXT-ALIGN: left
}
.imageFrame {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffffff; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
.raterContent IMG {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; MARGIN-LEFT: 3px; BORDER-LEFT: #fff 1px solid; MARGIN-RIGHT: 3px; BORDER-BOTTOM: #fff 1px solid
}
.raterContent SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #3f7c5f
}
.raterContent .faceOver {
	BORDER-RIGHT: blue 1px solid; BORDER-TOP: blue 1px solid; BACKGROUND: #fff; BORDER-LEFT: blue 1px solid; BORDER-BOTTOM: blue 1px solid
}
.cornerBookmark {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 8pt; BACKGROUND: url(/images/corner_br.gif) #b2cbea no-repeat right bottom; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.rightAngle {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: 0px
}
.spotlightHeader {
	BACKGROUND: url(/images/spotlightHeader.gif) no-repeat; WIDTH: 700px; HEIGHT: 40px
}
.yellowFadeHeader {
	BACKGROUND: url(/images/yellowFade550.gif) no-repeat; WIDTH: 550px; HEIGHT: 30px
}
.yellowFadeHeader705 {
	BACKGROUND: url(/images/yellowFade705.gif) no-repeat; WIDTH: 705px; HEIGHT: 30px
}
.orangeBorder {
	BACKGROUND: url(/images/orangeBorderBackground.gif) no-repeat; WIDTH: 350px; HEIGHT: 125px
}
#casestudyHeader {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 50px; FONT-SIZE: 11px; BACKGROUND: url(/images/casestudy/bg.jpg) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 400px; COLOR: #696767; PADDING-TOP: 0px; HEIGHT: 200px
}
#casestudyHeader DIV {
	FLOAT: left; MARGIN-BOTTOM: 6px
}
#casestudyHeader H1 {
	FONT-SIZE: 18px; MARGIN: 10px 0px; COLOR: #696767
}
#casestudyHeader .label {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 80px
}
#casestudyHeader .description {
	FLOAT: left; WIDTH: 320px
}
#casestudyHeader .buttons {
	Z-INDEX: 100; WIDTH: 100%; POSITION: relative; HEIGHT: 200px
}
#casestudyHeader .buttons .view {
	POSITION: absolute; TOP: 158px; HEIGHT: 1%
}
#casestudyHeader .buttons .casestudies {
	POSITION: absolute; TOP: 158px; HEIGHT: 1%
}
#casestudyHeader .buttons .casestudies {
	LEFT: 58px
}
#casestudyHeader .buttons .view {
	LEFT: 222px
}
.pages {
	CLEAR: left; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.pages A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #fff 1px solid; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
.pages SPAN {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #fff 1px solid; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
.pages SPAN.current {
	BORDER-RIGHT: #2e6ab1 1px solid; BORDER-TOP: #2e6ab1 1px solid; FONT-WEIGHT: bold; BACKGROUND: #2e6ab1; BORDER-LEFT: #2e6ab1 1px solid; COLOR: #fff; BORDER-BOTTOM: #2e6ab1 1px solid
}
.pages A {
	BORDER-RIGHT: #9aafe5 1px solid; BORDER-TOP: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
.pages A:hover {
	BORDER-LEFT-COLOR: #2e6ab1; BORDER-BOTTOM-COLOR: #2e6ab1; BORDER-TOP-COLOR: #2e6ab1; BORDER-RIGHT-COLOR: #2e6ab1
}
.pages A.nextprev {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.pages SPAN.nextprev {
	COLOR: #666
}
.pages SPAN.nextprev {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; COLOR: #999; BORDER-BOTTOM: #ddd 1px solid
}
.handPointer {
	CURSOR: hand
}
#stockframe {
	DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #fff; BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
#stockframe .nobg {
	DISPLAY: none; VISIBILITY: hidden
}
 HTML #stockframe .nobg {
	VISIBILITY: visible
}
#stockframe A {
	COLOR: #fff; TEXT-DECORATION: none
}
#stockframe A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#stockframe .ftitle {
	DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 140%; LEFT: 0px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: 28px; PADDING-TOP: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 32px; TEXT-ALIGN: left
}
#stockframe .ftitle_bg {
	BACKGROUND: url(/images/stockframe/top_left.png) no-repeat
}
.microStockTop {
	BACKGROUND-IMAGE: url(/images/stockframe/microStockTop7.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.microStockBottom {
	BACKGROUND-IMAGE: url(/images/stockframe/microStockBottom7.gif); OVERFLOW: hidden; WIDTH: 598px; HEIGHT: 15px
}
 HTML #stockframe .ftitle_bg {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/stockframe/top_left.png", sizingMethod="crop"); BACKGROUND-IMAGE: none
}
#stockframe DIV.trans {
	DISPLAY: block; RIGHT: 40px; POSITION: absolute; TOP: 65px
}
#stockframe DIV.trans_hd {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 215px; POSITION: relative; HEIGHT: 3px
}
#stockframe DIV.trans_bd {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; WIDTH: 215px; PADDING-TOP: 6px; POSITION: relative
}
#stockframe DIV.trans_bd P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; COLOR: #fff
}
#stockframe DIV.trans_ft {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 215px; POSITION: relative; HEIGHT: 3px
}
#stockframe DIV.trans_hd_bg {
	BACKGROUND: url(/images/stockframe/box_top.png) no-repeat
}
#stockframe DIV.trans_bd_bg {
	BACKGROUND: url(/images/stockframe/box.png) repeat-y
}
#stockframe DIV.trans_ft_bg {
	BACKGROUND: url(/images/stockframe/box_bottom.png) no-repeat
}
